# DataFrames e Series

Um **DataFrame é um dicionário**... de listas.<br>
<br>
Cuja as **chaves** do dicionário são usadas como **cabeçalho** de coluna;<br>
e os **valores** em cada lista são as **colunas** do DataFrame.

_______________________________________________________________________________________________________________

### Um DataFrame é criado a partir de duas (ou mais) possibilidades:

**1-** Pode-se **criar um dicionário**, atribuindo-o a uma variável:

In [17]:
dici = {"Mulheres": ["Ana", "Paula", "Marcela"],
       "Homens": ["Caio", "Arthur", "Mairo"],
       "Filhos": ["Sim", "Não", "Não"]}  
print(dici)

{'Mulheres': ['Ana', 'Paula', 'Marcela'], 'Homens': ['Caio', 'Arthur', 'Mairo'], 'Filhos': ['Sim', 'Não', 'Não']}

E depois usar essa variável como **parâmetro** na função **DataFrame()**.<br> Esta função transforma o dicionário em um DataFrame.

In [36]:
dataframe = pd.DataFrame(dici)
print(dataframe)

  Mulheres  Homens Filhos
0      Ana    Caio    Sim
1    Paula  Arthur    Não
2  Marcela   Mairo    Não

**2-** Também é possível criar o dicionário direto **dentro da função DataFrame()**:

In [32]:
import pandas as pd

df = pd.DataFrame({"Nome": ["Matheus", "Mario", "Sérgio"],
                 "Idade": [20, 30, 40],
                 "Profissão": ["Professor", "Médico", "Dentista"]})
df.head()

      Nome  Idade  Profissão
0  Matheus     20  Professor
1    Mario     30     Médico
2   Sérgio     40   Dentista

### Cada coluna em a DataFrame é um **Series**.

Para selecionar a coluna, use o rótulo da coluna entre colchetes [ ]

In [33]:
df["Nome"]

0    Matheus
1      Mario
2     Sérgio
Name: Nome, dtype: object

Se você estiver familiarizado com dicionários Python, a seleção de uma única coluna é muito semelhante à seleção de valores de dicionário com base na chave.<br>

* **Manipulando Dataframes ou Series**

Função que busca o maior número:

In [34]:
df["Idade"].max()

40